.google-fonts{
  font-family: 'Josefin Sans', sans-serif;
}
body{
  font-family: "Arial","Meiryo","sans-self";
  text-align: center;
}
.text-red{
  color: pink;
}
.text-blue{
  color: skyblue;
}
#parent p {
  font-weight: bold;
}
h1{
  font-size: 40px;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115,115,114);
  text-shadow: 2px 2px 3px gray;
  }